%nav.navbar.navbar-default
  .container
    .navbar-brand= link_to 'First Bite', root_path

    - if signed_in?
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            = "#{current_user.name}"
            %b.caret
          %ul.dropdown-menu
            %li
              = link_to 'Sign Out', sign_out_path
            %li
              = link_to 'Order History', user_orders_path
    - else
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'Register', register_path
        %li
          = button_to 'Sign In', sign_in_path, method: :get, class: 'navbar-btn btn btn-default'
