%nav.navbar.navbar-default{role: "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "#"} First Bite
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %button.btn.btn-default.navbar-btn{href: "#"} Your Cart (2) -- $9.99
        - if signed_in?
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              = "#{current_user.name}"
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to 'Sign Out'
        - else
          %li
            = link_to 'Register', register_path
          %li
            = button_to 'Sign In', sign_in_path, method: :get, class: 'navbar-btn btn btn-default'
