%nav.navbar.navbar-default
  .container
    .navbar-brand= link_to 'First Bite', root_path

    -# - if current_order
    -#   %ul.nav.navbar-nav
    -#     %li
    -#       = link_to "Your Cart (#{product_count(current_order)})", order_path(current_order), class: 'navbar-text'
    -# -else
    -#   %ul.nav.navbar-nav
    -#     %li
    -#       = link_to "Your Cart (0)", root_path

    - if signed_in?
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            = "#{current_user.name}"
            %b.caret
          %ul.dropdown-menu
            %li
              = link_to 'Sign Out', sign_out_path
    - else
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'Register', register_path
        %li
          = button_to 'Sign In', sign_in_path, method: :get, class: 'navbar-btn btn btn-default'
