.panel.panel-default
  .panel-heading
    %p.panel-title.text-center Your Cart
  .panel-body
    - if current_order
      %p= "You have #{product_count(current_order)} items in your cart."
      .panel-footer.checkout-box
        = link_to order_path(current_order), class: 'btn btn-default btn-block checkout-btn' do
          %span.glyphicon.glyphicon-shopping-cart
          %span= "Checkout (#{print_price(current_order.total)})"
    - else
      %p Your cart is empty.
      %p Add some items from the right to get started.


.panel.panel-default
  .panel-heading
    %p.panel-title.text-center Categories
  .panel-body
    %ul.nav.nav-pills.nav-stacked
      %li= link_to 'All', products_path, class: 'btn btn-default'
      - Category.all.each do |category|
        %li= link_to category.title, category_path(category), class: 'btn btn-default'

- if signed_in?
  .panel.panel-default
    .panel-heading
      %p.panel-title.text-center Admin
    .panel-body
      %ul.nav.nav-pills.nav-stacked
        %li= link_to 'Add Product', new_product_path, class: 'btn btn-default'
