.col-sm-3.col-xs-6
  .product-container.text-center
    %p.product-title= product.title

    .product-image.center-block
      = image_tag product.image.url(:medium), class: 'img-responsive'

    %p.product-description= product.description

    %p
      %span.product-price= print_price(product.price)

    = button_to 'Add to cart', order_items_path(product_id: product.id), class: 'btn btn-default'

    = link_to "Edit", edit_product_path(product)
