.products.panel.panel-default
  .panel-body
    .row
      .col-xs-2
        = image_tag product.image.url, class: 'img-responsive img-rounded'
      .col-xs-6
        %p.panel-title= product.title
        %p.product-description= product.description
      .col-xs-2
        %p.product-price= print_price(product.price)
      .col-xs-2
        = button_to order_items_path(product_id: product.id), class: 'btn btn-success btn-sm' do
          %span.glyphicon.glyphicon-plus
          %span Add
